body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.stars, .twinkling, .clouds {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.stars {
    background: black url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    z-index: 1;
    animation: move-background 70s linear infinite;
}

.clouds {
    width: 10000px;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    z-index: 2;
    animation: move-background 150s linear infinite;
}

@keyframes move-background {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(-1000px, 0px, 0px);
    }
}

img {
    height: 70vh;
    width: 70vh;
    position: absolute;
    z-index: 4; 
    right: 20px;
    top: 50px;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    transform: translateY(40%);
    position: relative;
    

}

.controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 50%;
    
}

.sliders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 80%;
    max-width: 640px;
}

.slider {
    width: 100%;
    margin: 5px 0;
}

.clean-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 10px;
}

.clean-button:hover {
    background-color: #45a049;
}

.clean-button:active {
    transform: scale(0.95);
}

.play-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}